/* style.css */

.table-list-card {
  width: 360px;
  height: 291px;

  background: #ffffff;
}

.tr-thead th {
  text-align: start;
  padding: 0 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;

  letter-spacing: 0.005em;
  height: 40px;
  color: #3f3f55;

  border-top: 1px solid #eff0f7;
  border-bottom: 1px solid #eff0f7;
}

.tr-container {
  width: 360px;
  height: 91px;
  overflow-x: auto;
}

.td-name,
.td-id,
.td-value {
  text-align: start;
  padding: 0 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #6e6e85;
  max-height: 20px;
  border-bottom: 1px solid #eff0f7;
}
