.table-invoices {
  display: flex;
  flex-direction: column;
  padding: 23px 0 23px 40px;
  position: absolute;
  max-width: 1120px;
  width: 1120px;
  height: 594.44px;
  left: 212px;
  top: 206px;
  background: #ffffff;
  border-radius: 30px;
}

.header-charge-invoices {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-charge-invoices th,
.charge-specific-invoices td {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 153px;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 10px;

  text-align: start;
}

.charge-specific-invoices {
  display: flex;
  height: 50px;
  border-top: solid 0.1rem #eff0f6;
  color: #747488;
}

.charge-specific-invoices td {
  display: flex;
  flex-direction: row;
  border-top: solid 0.1rem #eff0f6;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  color: #6e6e85;
}

.date-th-invoices,
.invoices-date {
  width: 135px;
}
.invoices-description,
.description-th-invoices {
  min-width: 200px;
}
.container-alter-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100px;
}

.pendent,
.paid,
.due {
  width: 105px;
  height: 22px;

  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding-top: 2px;
}

.pendent {
  width: 77px;
  height: 19px;
  background: #fcf6dc;
  color: #c5a605;
}

.paid {
  width: 77px;
  height: 19px;
  background-color: #eef6f6;
  color: #1fa7af;
}

.due {
  width: 77px;
  height: 19px;
  background-color: #ffefef;
  color: #971d1d;
}
.tbody-invoices {
  max-height: 500px;
  overflow-x: auto;

}