:root {
  --primary-color: #3f3f55;
  --secondary-color: #ffffff;
  --paid-color: #eef6f6;
  --overdue-color: #ffefef;
  --predicted-color: #fcf6dc;
  --card-width: 360px;
  --card-height: 111px;
  --card-radius: 30px;
}

.home-main {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 19px 0 0 82px;
  background-color: #f8f8f9;
}

.invoice-section h1,
h2 {
  height: 23px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.invoice-section h1 {
  margin-left: -25px;
}

.invoice-section strong {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.paid-invoice,
.overdue-invoice,
.predicted-invoice {
  padding: 23px 40px;
  gap: 10px;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-radius);
  flex: none;
  flex-grow: 0;
}

.paid-invoice {
  background-color: var(--paid-color);
}

.overdue-invoice {
  background-color: var(--overdue-color);
}

.predicted-invoice {
  background-color: var(--predicted-color);
}

.image-card {
  width: 32px;
  height: 33px;
  margin-top: 10px;
}

.invoice-section span {
  width: 191px;
  height: 195px;
}

.paid-invoice-container,
.overdue-invoice-container,
.predicted-invoice-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 46px;
  width: 300px;
  height: 100px;
}

.billing-container {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  height: 397px;
  margin-left: -40px;
}

.container-card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: var(--card-width);
  max-height: 58px;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
}


.container-card-header h2 {
  width: 188px;
  height: 23px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}
.predicted-length,
.paid-length,
.overdue-length {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;

  width: 52px;
  height: 21px;

  border-radius: 8px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}
.predicted-length {
  background: #ffefef;
  color: #971d1d;
}
.overdue-length {
  background: #fcf6dc;
  color: #c5a605;
}
.paid-length {
  background: #eef6f6;
  color: #1fa7af;
}
