#root {
  --clr--btn: #da0175;
  --clr--fff: #fff;
  --clr--bs: rgba(218, 1, 117, 0.05);
}
.header-clients {
  width: 1120px;
  height: 100px;
  margin-left: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 23px;

  position: absolute;
  width: 1116px;
  height: 642.49px;
  left: 212px;
  top: 206px;

  background: #ffffff;
  border-radius: 30px;
}

.client-header {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.nav-header-table {
  gap: 28px;

  display: flex;
  align-items: center;
}

.nav-header-table button {
  width: 201px;
  font-size: 14px;
  height: 33px;

  background-color: var(--clr--btn);
  color: var(--clr--fff);
}

.nav-header-table input,
.nav-header-table button {
  border-radius: 10px;

  border: none;
}

.input-div {
  position: relative;
  display: flex;
  align-items: center;
}

.input-div img {
  right: 10px;

  position: absolute;
}

.nav-header-table input {
  width: 261px;
  height: 39px;
  padding: 16px;

  box-shadow: 0 3px 3px 3px var(--clr--bs);
}

.filtro-img {
  height: 39px;
  width: 39px;
  padding: 8px;
  border-radius: 8px;

  background-color: var(--clr--fff);
}

.table-charge {
  height: 80%;
  width: 100%;
  border-radius: 30px;
  padding: 12px 23px;

  background-color: var(--clr--fff);
}

.header-charge {
  height: 65px;
  padding: 5px 16px;
  width: 100%;

  border-bottom: solid 0.1rem #eff0f6;
  display: flex;
}

.header-charge b {
  font-size: 20px;

  display: flex;
  align-items: center;
}

.client {
  gap: 8px;
}

.client img {
  width: 18px;
}

.client,
.cpf,
.email,
.tell,
.status,
.create-charge {
  display: flex;
  align-items: center;

  width: 200px;
  min-height: 50.5px;
}
.tell,
.cpf,
.status {
  margin-left: 20px;
  margin-right: -30px;
}
.create-charge {
  padding-top: 5px;
  width: 260px;
}
.create-charge img {
  width: 35px;
  height: 38px;
}

.charge-list {
  height: 68px;
  width: 100%;
}

.charge-specific {
  padding-left: 16px;

  display: flex;
  flex-direction: row;
  border-bottom: solid 0.1rem #eff0f6;

  color: #747488;
}

.pendent-state,
.paid-state {
  display: flex;
  justify-content: center;
  min-width: 77px;
  max-width: 77px;
  height: 19px;

  padding-top: 2px;

  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  border-radius: 8px;
}

.pendent-state {
  min-width: 100px;
  height: 22px;

  background-color: #ffefef;

  color: #971d1d;
}

.paid-state {
  width: 105px;
  height: 22px;

  background-color: #eef6f6;

  color: #1fa7af;
}

.Table th,
td {
  text-align: start;
  max-width: 180px;
  height: 20px;
  padding-left: 20px;
}
.charge-specific td {
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.1rem #eff0f6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  -webkit-text-size-adjust: auto;
  color: #6e6e85;
}

.tbody-clients {
  overflow-y: auto;
}