
 
  :root {
    --primary-color: #3f3f55;
    --secondary-color: #ffffff;
    --paid-color: #eef6f6;
    --predicted-color: #ffefef;
    --unpaid-color: #fcf6dc;
    --card-width: 360px;
    --card-height: 111px;
    --card-radius: 30px;
  }

.table-list-card {
  width: 360px;

  background: #ffffff;
}

.tr-thead-card th {
  text-align: start;
  padding: 0 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;

  letter-spacing: 0.005em;
  height: 40px;
  color: #3f3f55;

  border-top: 1px solid #eff0f7;
  border-bottom: 1px solid #eff0f7;
}


.td-name-card,
.td-id-card,
.td-value-card {
  text-align: start;
  padding: 0 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #6e6e85;
  max-height: 20px;
  max-width: 100px;
  border-bottom: 1px solid #eff0f7;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
