button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 87.25px;
gap: 4px;

width: 231.5px;
height: 33px;


background: #DA0175;
border-radius: 10px;


flex: none;
order: 1;
flex-grow: 0;
}