@import url("react-toastify/dist/ReactToastify.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
  max-height: 1280px;
}
body {
 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
main {
  background-color: #F8F8F9;
height:100vw ;
}