@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("react-toastify/dist/ReactToastify.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
  max-height: 1280px;
}
body {

  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
main {
  background-color: #F8F8F9;
min-height:894px ;

}

 .hidden {
  display: none;

} 
dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.034);
}
.container-link ,.btn-exit,.btn-edit,.btn-delete,.client,.container-viewall {
  cursor:pointer
}