@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("react-toastify/dist/ReactToastify.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
  max-height: 1280px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
main {
  background-color: #f8f8f9;
  min-height: 894px;
}

.hidden {
  display: none;
}
dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.034);
}
.container-link,
.btn-exit,
.btn-edit,
.btn-delete,
.client,
.container-viewall {
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  
}
input[type="checkbox"]:checked {
  all: unset;
   width: 30px;
  height: 30px;
  border: 1px solid black;
  background:  #0e8750;
  background-image: url("./assets/checked.svg");
  background-repeat: no-repeat;
  background-position: center;

}